.popup {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.1s, opacity 0.1s linear;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100vh;
}
