.footer__main-container {
	display: flex;
	flex-direction: column;
	width: 80.625%;
	margin: auto;
}

@media screen and (max-width: 550px) {
	.footer__main-container {
		width: 87.73%;
		margin: auto;
	}
}
