.donation-form__card-validity-date-input {
	width: 96px;
	height: 56px;
	border: 0;
	padding-left: 18px;
	cursor: pointer;
}

.donation-form__card-validity-date-input:focus {
	outline: none;
}

@media (max-width: 630px) {
	.donation-form__card-validity-date-input {
		width: 112px;
		height: 56px;
		margin-top: 4px;
	}
}
