.contacts__phone {
	font-style: normal;
	font-weight: 400;
	font-size: 46px;
	line-height: 60px;
	text-align: center;
	color: #71BBCA;
	text-decoration: none;
	margin: 16px 0 0;
}

.contacts__phone:hover {
	opacity: 0.4;
	transition: 0.5s ease;
}

@media (max-width: 768px) {
	.contacts__phone {
		font-size: 32px;
		line-height: 42px;
		margin-top: 16px;
	}
}
