.friends__slider {
	width: 100%;
}

.friends__slider .slick-dots {
	margin-top: 9px;
}

.friends__slider .slick-prev {
	position: absolute;
	bottom: 50%;
	left: 24px;
}

.friends__slider .slick-next {
	position: absolute;
	bottom: 50%;
	right: 24px;
}
