.sources__text-container {
	margin: 44px 0 0 44px;
	grid-column-start: 1;
	grid-column-end: 2;
	width: 50%;
}

@media screen and (max-width: 572px) {
	.sources__text-container {
		margin: 32px 0 0 24.48px;
	}
}
