.newsletter__input {
	box-sizing: border-box;
	width: 328px;
	height: 56px;
	background: #ffffff;
	border: 0;
	border-radius: 56px;
	padding-left: 32px;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.newsletter__input:focus {
	outline: none;
}

.newsletter__input::placeholder {
	background-image: url(../../../images/newsletter/email.svg);
	background-position: left;
	background-repeat: no-repeat;
}

@media (max-width: 768px) {
	.newsletter__input {
		width: 100%;
	}
}
