.blog-card__info {
	max-width: 85.37%;
	margin: auto;
}

.blog-card:first-of-type>.blog-card__info {
	position: absolute;
	left: 24px;
	bottom: 0;
}

/* @media (max-width: 768px) {
	.blog-card:first-of-type>.blog-card__info {
		position: unset;
		width: 85.37%;
		margin: 0 auto;
	}
} */

 @media (max-width: 768px) {
	.blog-card__info {
		margin: 0 auto;
		width: 400px;
	}
}
