.newsletter__button {
	width: 152px;
	height: 56px;
	background-color: #528cbe;
	border: 0;
	border-radius: 56px;

	color: #fff;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.newsletter__button:hover {
	background-color: #487FAE;
	transition: 0.5s ease;
}

@media (max-width: 768px) {
	.newsletter__button {
		width: 100%;
	}
}
