.promo__wrapper_background-color_black {
	max-width: 866px;
	background-color: rgba(0, 0, 0, .3);
}

@media (max-width: 1024px) {
	.promo__wrapper_background-color_black {
		max-width: 650px;
	}
}

@media (max-width: 768px) {
	.promo__wrapper_background-color_black {
		max-width: 540px;
	}
}

@media (max-width: 550px) {
	.promo__wrapper_background-color_black {
		max-width: 410px;
	}
}

@media (max-width: 425px) {
	.promo__wrapper_background-color_black {
		max-width: 359px;
	}
}
