.partners__slider {
	margin: 0 auto;
	width: 100%;
	max-width: 1029px;
}

@media (max-width: 1250px) {
	.partners__slider {
		padding:0 24px;
	}
}

.partners__slider .slick-prev {
	z-index: 1;
	position: absolute;
	bottom: 48px;
	right: 100%;
	padding: 0;
	border: none;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: #F8F8F8;
}

@media (max-width: 1250px) {
	.partners__slider .slick-prev {
		right: 95%;
	}
}

.partners__slider .slick-prev img {
	width: 23.33px;
	height: 23.33px;
}

.partners__slider .slick-next {
	position: absolute;
	bottom: 48px;
	left: 100%;
	padding: 0;
	border: none;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: #F8F8F8;
}

@media (max-width: 1250px) {
	.partners__slider .slick-next {
		left: 95%;
	}
}

.partners__slider .slick-next img {
	width: 23.33px;
	height: 23.33px;
}

