.donation-form__payment-button-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 16px;
}


/* .donation-form__button-container {

}

@media (max-width: 375px) {
	.donation-form__button-container {
		flex-wrap: wrap;
		row-gap: 16px;
	}
} */
