.header__nav-button {
	display: none;
	padding: 0;
	margin: 0;
	border: none;
	background-image: url(../../../images/icons/nav-button.svg);
	width: 24px;
	height: 18px;
	background-color: transparent;
	cursor: pointer;
	transition: 0.5s ease;
	align-self: center;
	margin-left: 24px;
}

.header__nav-button:hover {
	opacity: 0.4;
}

@media screen and (max-width: 1024px) {
	.header__nav-button {
		display: block;
	}
}
