.header__nav-button {
	display: none;
	padding: 0;
	margin: 0;
	border: none;
	background-image: url(../../../images/nav-button.svg);
	width: 24px;
	height: 18px;
	background-color: transparent;
	cursor: pointer;
	align-self: center;
	margin-left: 24px;
}

@media screen and (max-width: 1023px) {
	.header__nav-button {
		display: block;
	}
}
