.donation-form__duration-toggler-button {
	position: relative;
	width: 50%;
	border: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 56px;
	background-color: #F8F8F8;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}


