.donation-form__payment-apple_active {
	background-color: #82607D;
	background-image: url('../../../images/icons/applePay-active.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #FFF;
}
