.more-help__text-container {
	margin: 37px 0 0 0;
	align-self: center;
}

@media screen and (max-width: 1030px) {
	.more-help__text-container {
		width: 100%;
	}
}

@media screen and (max-width: 504px) {
	.more-help__text-container {
		margin: 0;
	}
}
