@media screen and (min-width: 881px) and (max-width: 1260px) {
	.sources__image_size_smaller {
		margin-left: 25px;
	}
}

@media screen and (max-width: 572px) {
	.sources__image_size_smaller {
		width: 26.24%;
		margin-left: 25px;
	}
}
