.sources__image {
	justify-self: center;
	align-self: center;
	grid-column-start: -1;
	grid-column-end: -2;
	justify-self: center;
	transition: 1s;
}

.sources__image:hover {
	transform: scale(1.2);
}
