.donation-form__checkbox-text {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 125%;
}

@media (max-width: 375px) {
	.donation-form__checkbox-text {
		font-size: 16px;
	}
}
