.donation-form__button {
	display: flex;
	height: 56px;
	width: 174px;
	border: 0;
	background-color: #F8F8F8;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}
.donation-form__button:active{
	background-color: #82607D;
	color: #FFFFFF;
}

