.donation-form__button {
	padding: 0;
	height: 56px;
	width: 31.7%;
	border: 0;
	background-color: #F8F8F8;;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
}


@media (max-width: 376px) {
	.donation-form__button {
		width: 148px;
	}
	.donation-form__button:last-child {
		flex-grow: 1;
	}
}


