.contacts__email {
	font-style: normal;
	font-weight: 400;
	font-size: 46px;
	line-height: 60px;
	text-align: center;
	color: #71BBCA;
	text-decoration: none;
}

@media (max-width: 550px) {
	.contacts__email {
		font-size: 32px;
		line-height: 42px;
	}
}
