.blog-card__date {
	font-weight: 700;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: 0.24em;
	text-transform: uppercase;
	color: #775872;
	margin: 27px auto 0;
}

.blog-card:first-of-type>.blog-card__info>.blog-card__date {
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.24em;
	text-transform: uppercase;
	color: #FFFFFF;
}

@media (max-width: 768px) {
	.blog-card__date {
		font-weight: 700;
		font-size: 8px;
		line-height: 120%;
		letter-spacing: 0.24em;
		text-transform: uppercase;
		color: #82607D;
		margin-top: 24px;
	}

	.blog-card:first-of-type>.blog-card__info>.blog-card__date {
		font-weight: 700;
		font-size: 8px;
		line-height: 120%;
		letter-spacing: 0.24em;
		text-transform: uppercase;
		color: #82607D;
		margin-top: 24px;
	}
}
