.promo__subtitle {
	margin: 0 0 0 40px;
	max-width: 520px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
}


@media (max-width: 768px) {
	.promo__subtitle {
		max-width: 450px;
	}
}

@media (max-width: 425px) {
	.promo__subtitle {
		max-width: 327px;
		margin-left: 16px;
	}
}

