.promo__wrapper_slider-3 {
	max-width: 645px;
}

@media (max-width: 960px) {
	.promo__wrapper_slider-3 {
		max-width: 650px;
	}
}

@media (max-width: 800px) {
	.promo__wrapper_slider-3 {
		max-width: 550px;
	}
}

@media (max-width: 565px) {
	.promo__wrapper_slider-3 {
		max-width: 359px;
	}
}
