.donation-form__card-front {
	position: relative;
	height: 267px;
	width: 364px;
	background-color: #F8F8F8;
	border-radius: 8px;
	z-index: 100;
	margin-bottom: 6px;
}

@media (max-width: 630px) {
	.donation-form__card-front {
		width: 100%;
		height: 338px;
	}
}

@media (max-width: 376px) {
	.donation-form__card-front {
		width: 311px;
		height: 338px;
	}
}
