.more-help__card {
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

@media screen and (max-width: 1030px) {
	.more-help__card {
		width: 415px;
	}
}

@media screen and (max-width: 504px) {
	.more-help__card {
		width: 87.2vw;
		justify-content: center;
	}
}
