.donation-form__card-information-container {
	display: flex;
	margin-left: 24px;
}

@media (max-width: 630px) {
	.donation-form__card-information-container {
		flex-wrap: wrap;
		width: 112px;
	}
}


@media (max-width: 376px) {
	.donation-form__card-information-container {
		flex-wrap: wrap;
		width: 112px;
		margin-left: 16px;
	}
}
