.feedback__subtitle {
	margin: 8px 0 48px 0;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
}

@media screen and (max-width: 727px) {
	.feedback__subtitle {
		margin-bottom: 24px;
	}
}
