.promo__link {
	text-decoration: none;
	color: #000;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.promo__link:hover {
	box-shadow: 0px 20px 52px rgba(95, 97, 113, 0.35);
	color: #54A8B6;
}
