.donation-form__duration-toggler-container {
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	border-radius: 56px;
	background: #F8F8F8;
	font-weight: bold;
	color: #343434;
	cursor: pointer;
	column-gap: -25px;
	border: 0;
	cursor: pointer;
}

.donation-form__duration-toggler-container::before {
	content: '';
	position: absolute;
	width: 54%;
	height: 100%;
	left: 0;
	border-radius: 56px;
	background: #82607D;
	transition: all 0.3s;

}

.donation-form__duration-toggler-container div {
	text-transform: uppercase;
	padding: 6px;
	text-align: center;
	z-index: 1;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.06em;
}

.donation-form__duration-toggler-checkbox:checked + .donation-form__duration-toggler-container::before {
	left: 46%;
}

.donation-form__duration-toggler-checkbox:checked + .donation-form__duration-toggler-container div:first-child{
	color: #999999;
	transition: color 0.3s;
}
.donation-form__duration-toggler-checkbox:checked + .donation-form__duration-toggler-container div:last-child{
	color: white;
	transition: color 0.3s;
}
.donation-form__duration-toggler-checkbox + .donation-form__duration-toggler-container div:first-child{
	color: white;
	transition: color 0.3s;
}
.donation-form__duration-toggler-checkbox + .donation-form__duration-toggler-container div:last-child{
	color: #999999;
	transition: color 0.3s;
}

@media (max-width: 600px) {
	.donation-form__duration-toggler-container div {
		font-size: 10px;
	}
}
