.footer__nav-container {
	display: flex;
}

@media screen and (max-width: 1097px) {
	.footer__nav-container {
		margin-top: 25px;
		width: 100%;
		justify-content: space-between;
	}
}

@media screen and (max-width: 855px) {
	.footer__nav-container {
		flex-direction: column;
		align-items: flex-start;
	}
}
