.blog-card {
	position: relative;
	background-color: #F8F8F8;
	max-width: 328px;
	height: 432px;
	display: flex;
	flex-flow: column nowrap;
	cursor: pointer;
}

.blog-card:first-of-type {
	max-width: 680px;
}

@media (max-width: 768px) {
	.blog-card:first-of-type {
		max-width: 100%;
	}

	.blog-card {
		width: 100%;
		max-width: unset;
		max-height: unset;
		height: unset;
		min-height: 392px;
		background-color: #fff;
	}
}

@media (max-width: 375px) {
	.blog-card {
		max-height: 392px;
	}
}
