.blog-card {
	position: relative;
	background-color: #F8F8F8;
	max-width: 328px;
	display: flex;
	flex-flow: column nowrap;
	cursor: pointer;
}

.blog-card:first-of-type {
	max-width: 680px;
}

@media (max-width: 768px) {
	.blog-card:first-of-type {
		height: 100%;
		max-width: 100%;
	}

	.blog-card {
		width: 100%;
		max-width: unset;
		background-color: #fff;
	}
}

@media (max-width: 450px) {
	.blog-card:first-of-type {
		height: 328px;
	}
}
