.partners__img {
	width: 124px;
	height: 124px;
	filter: grayscale(100%);
	opacity: 0.5;
	transition: .5s ease;
}

@media (max-width: 550px) {
	.partners__img {
		width: 80px;
		height: 80px;
	}
}

.partners__img:hover {
	opacity: 1;
	filter: grayscale(0);
}
